.highlight{
    background-color: aqua;
}

.green-highlight{
    color: green !important;
    font-size: 40px;
}

.red-highlight{
    color: red !important;
    font-size: 25px;
}

.hand-icon{
    cursor: pointer;
}
.nav-link.active{
    border-bottom: 2px solid white;
}